<!DOCTYPE html>
<html>
  <head>
    <title>Gerenciador de Tarefas</title>
    <script type="module" src="../js/main.js">

    </script>
    <link rel="stylesheet" type="text/css" href="../css/style.css">
  </head>
  <body>
    <main>
    <h1>Gerenciador de Tarefas</h1>
    <form>
      <label for="nome">Nome:</label>
      <input type="text" id="nome" name="nome">
      <br>
      <label for="descricao">Descrição:</label>
      <input type="text" id="descricao" name="descricao">
      <button class="adicionar" type="submit"><i class="fas fa-plus"></i></button>
      
    </form>
    <ul>
      <!-- 
      <li>
        <h2>tarefa 1</h2>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dignissimos illo accusamus eaque nam, laborum, rem molestiae fuga esse iure nulla eligendi consequatur quaerat hic dolor fugit. Cum iste voluptatibus reprehenderit?</p>
        <button class="checar" type="button"><i class="fas fa-check"></i></button>
        <button class="editar" type="button"><i class="fas fa-pencil-alt"></i></button>
        <button class="deletar" type="button"><i class="fas fa-times"></i></button>
      </li>
      <li>
        <h2>tarefa 2</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores, voluptates natus porro sit voluptas cupiditate quis quibusdam possimus vitae sed quae itaque laboriosam placeat tempora ratione similique, quia eaque ab.</p>
        <button class="checar" type="button"><i class="fas fa-check"></i></button>
        <button class="editar" type="button"><i class="fas fa-pencil-alt"></i></button>
        <button class="deletar" type="button"><i class="fas fa-times"></i></button>
      </li>
      -->
    </ul>
  </main>
  </body>
</html>