<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TaskManagerHome</title>
    <link rel="stylesheet" href="../css/styles.css"/>
    <script src="../js/scripts.js" defer></script>
</head>
<body>
    <header>
        <h1>To Do Manager</h1>
    </header>
    <div>
        <h2>Adicionar Tarefa</h2>
        <form>
            <input placeholder="Acordar cedo">
            <input type="submit" value="+">
        </form>
    </div>
    <div> 
        <h2>Tarefas a fazer</h2>
        <ul>
            <table>
                <tbody>
                <tr>
                    <td>Nome da tarefa</td>
                    <td><button>></button></td>
                    <td>Descrição da tarefa</td>
                    <td>
                        <button>Edit</button>
                        <button>Delete</button>
                    </td>
                </tr>         
            </table>
            <table>
                <tbody>
                <tr>
                    <td>Nome da tarefa 2 </td>
                    <td><button>></button></td>
                    <td>Descrição da tarefa</td>
                    <td>
                        <button>Edit</button>
                        <button>Delete</button>
                    </td>
                </tr>         
            </table>
            <table>
                <tbody>
                <tr>
                    <td>Nome da tarefa 3</td>
                    <td><button>></button></td>
                    <td>Descrição da tarefa</td>
                    <td>
                        <button>Edit</button>
                        <button>Delete</button>
                    </td>
                </tr>         
            </table>
        </ul>
    </tbody>
    </div>    
    <footer>

    </footer>  
</body>
</html>